%form{ :action => '/book_requests', 
       :method => 'post', 
       :class => 'new_book_request' }

  %ul
    %li
      %label{ :for => 'book_request_title' } Title:
      %input{ :name => 'book_request[title]', 
              :type => 'text', 
              :id => 'book_request_title' }

  %input{ :type => 'submit', :value => 'Submit', 
          :name => 'commit', :id => 'book_request_submit' }

- unless @requests.empty?
  %current_requests
    %ul
      - @requests.each do |request|
        %li= request.title
