!!!
%html
  %head
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico' }
  %body
    %header
      %nav
      - [:notice, :alert].each do |type|
        - if flash[type]
          %h1{:class => type.to_s}= flash[type]
    = yield
    %footer
